input[type="text"]{
 -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 15px;
  border:none;
  border-bottom:5px solid #6D8299;
}

#text1,#text2,#text3,#text4{
  background-repeat: no-repeat;
  background-position:left;
  background-size: 25px;
  padding-left:50px;
}

#text1{
  background-image: url(icon/account.png);
}

#text2{
  background-image: url(icon/mail.png);
}

#text3{
  background-image: url(icon/phone.png);
}

#textarea{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position:top left;
  background-size: 30px;
  padding-left:50px;
  background-image: url(icon/message.png);
  border:none;
  border-bottom:5px solid #6D8299;
}

#send{
  background-color: #6D8299;
  border-radius: 15px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bold;
  margin-top: 15px;
  float: right;
  width:150px;
  box-shadow: 1px 1px 5px #80868d;
}

.icons{
    width: 40px;
    height: 40px;
    position: relative;
}



h2 {
    font-size: 20px;
    font-family: Segoe UI Black;
    text-shadow: 0.5px 0.5px 2px;
    height: 15px;
    position:relative;
    left: 50px;
  }

.shape {
	border-bottom: 40px solid #C2CAD0;
	border-left: 0px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 300px;
}

.info{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
#cont2{
  background-color:#6D8299;
  border-radius:30px;
  padding: 40px 40px 40px 40px;
  margin-right:10px;
  height: 420px;
  position:relative;
  right: 70px;
}
#cont1{
  position:relative;
  left:170px;
  border-radius:30px;
  background-color:#C2CAD0;
  padding: 30px 30px 70px 30px;
}
#form{
  width: 300px;
  height: 300px; 
  position:absolute;
  bottom:50px;
  left:100px;
}
.map{
  position: relative;
  width: 280px;
}
#cont3{
  border:2px solid #C2CAD0;
  border-radius: 15px;
  position: relative;
  background-color:#6D8299;
}


#map {
    border: 2px solid #C2CAD0;
    border-radius: 15px;
    position: relative;
    right: 170px;
    background-color:#C2CAD0;
}